<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vueified Hi/Low</title>
  </head>

  <body>
    <header>
      <h1>Hi/Low Game</h1>
      <div id="app">
        <game-main></game-main>
      </div>
    </header>

  </body>

  <script type="text/x-template" id="game-main">
    <div>
      <div class="controls">
        <div v-if="!gameRunning">
          <label for="difficulties">Difficulty:</label>
          <select name="difficulties" v-model="difficultyModifier">
            <option v-for="option in difficultySettingOptions" :value="option.modifier">
              {{ option.name }}
            </option>
          </select>
          <button @click="setUpRound">Start!</button>

          <button @click="resetGame">Reset History</button>
        </div>
      </div>

      <div v-if="gameRunning">
        <p>The computer is thinking of a whole number <strong>between 1 and {{ maxNumber }}</strong>. Try to guess it!</p>

        <round-player
          :secret-number="secretNumber"
          :max-guesses="maxGuesses"
          :max-number="maxNumber"
          v-on:endRound="registerResult"
        >
        </round-player>
      </div>

      <h2>round history</h2>

      <div v-if="rounds.length == 0">
        Press 'Start!' to play the first round!
      </div>

      <div v-else>
        <div>
          <h3>You have won {{ runningScore }} out of {{ roundCount }}.</h3>
        </div>
        <round-history
          v-for="round in rounds.reverse()"
          :key="round.number"
          :number="round.number"
          :playerWon="round.playerWon"
          :guesses="round.guesses"
          :secretNumber="round.secretNumber"
          :numbersGuessed="round.numbersGuessed"
          :difficulty="round.difficulty"
        >
        </round-history>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="round-history">
    <div>
      <div class="history-item" :class="historyClass">
        <h2>Round {{ number }} - Secret number was {{ secretNumber }}</h2>
        <h2>{{ summaryMessage }}</h2>
        The numbers you guessed were:
        <ul>
          <li v-for="n in numbersGuessed" :key="n.number">
            {{ n.number }}
          </li>
        </ul>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="round-player">
    <div>
      <div class="message-container" :class="messageClass">
        <span>{{ computedMessage }}</span>
      </div>
      <p>You have {{ maxGuesses - guessCount }} chance{{ (maxGuesses - guessCount === 1) ? `` : `s` }}</p>
      <div v-if="numbersGuessed.length == 0">
        <p>
        You haven't guessed any numbers yet.
        </p>
      </div>
      <div v-else>
        <p>
        You've guessed:
        <div style="display: inline;" v-for="n in numbersGuessed" :key="n.number">
          <span :class="{ 'too-low': n.low, 'too-high': n.high }">{{ n.number }}</span>,
        </div>
        .
        </p>
      </div>
      <section>
        <form>
          <label>Guess
            <input type="text" name="guess" v-model="currentGuess"></input>
          </label>
          <button type="submit" @click.prevent="guess(currentGuess)">
            Is that it?
          </button>
        </form>
        <button @click="reset">
          I'm a cheater and want to start over!
        </button>
      </section>
    </div>
  </script>

  <script src="./script.js"></script>
</html>

<style>
.message-container {
  height: 2em;
}

.standard-message {
  color: black;
}
.too-high {
  color: orange;
}
.too-low {
  color: blue;
}

.history-item {
  border-radius: 5px;
  padding: 1em;
  margin: 0.5em 0;
}

.win-record {
  border: 2px solid green;
  background: rgba(27, 255, 0, 0.38);
}
.loss-record {
  border: 2px solid red;
  background: rgba(255, 42, 0, 0.38);
}
</style>

